body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen'
}

.menu-item-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.25rem;
}

.menu-item-text {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.menu-item:hover {
  text-decoration: underline #C8102E;
  text-underline-offset: 0.25rem;
  font-weight: 900;
}

.menu-item:hover svg {
  fill: #C8102E
}
